body {
  margin: 0;
  padding: 0;
  font-family: 'Gilroy';
  font-weight: 500;
}

.container {
  width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.header {
  width: 100%;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.header-top .header-top__logo .logo {
  display: block;
}

.header-top .header-top__logo .logo img {
  display: block;
  width: 262px;
}

.header-top .header-top__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top .header-number {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 50px;
  margin-right: 20px;
}

.header-top .header-number .header-number__item {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  text-decoration: none;
  color: #010101;
  line-height: 1;
  font-size: 16px;
  margin-right: 16px;
}

.header-top .header-number .header-number__item:last-child {
  margin-right: 0;
}

.header-top .header-number .header-number__icon {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: #f6f6f6;
  border-radius: 50%;
}

.header-top .header-number .header-number__icon img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 15px;
  height: 15px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header-top .header-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top .header-social .header-social__item {
  display: block;
  width: 30px;
  height: 30px;
  font-size: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-right: 8px;
}

.header-top .header-social .header-social__item:last-child {
  margin-right: 0;
}

.header-top .header-social .header-social__item.facebook {
  background-image: url(../images/fb.svg);
}

.header-top .header-social .header-social__item.instagram {
  background-image: url(../images/in.svg);
}

.header-top .header-social .header-social__item.youTube {
  background-image: url(../images/yu.svg);
}

.header-bottom {
  position: relative;
  width: 100%;
  height: 60px;
  background-color: #6d6d6d;
}

.header-bottom .header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-bottom .header-nav .header-nav__btn {
  position: relative;
  display: inline-block;
  width: 262px;
  white-space: nowrap;
  height: 60px;
  border: 1px solid transparent;
  cursor: pointer;
  padding: 0 40px 0 80px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
  background-color: #ffffff;
  letter-spacing: 1px;
  color: #f04d12;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header-bottom .header-nav .header-nav__btn .header-nav__btn-icon {
  position: absolute;
  left: 40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header-bottom .header-nav .header-nav__btn:focus, .header-bottom .header-nav .header-nav__btn:hover {
  background-color: #f04d12;
  color: #ffffff;
  padding: 0 35px 0 85px;
}

.header-bottom .header-nav .header-nav__btn:focus .header-nav__btn-icon svg rect, .header-bottom .header-nav .header-nav__btn:hover .header-nav__btn-icon svg rect {
  stroke: #ffffff;
}

.header-bottom .header-nav .header-nav__buy {
  position: relative;
  display: inline-block;
  width: 162px;
  white-space: nowrap;
  height: 60px;
  border: 1px solid transparent;
  cursor: pointer;
  text-align: center;
  font-weight: 700;
  font-size: 15px;
  background-color: transparent;
  letter-spacing: 1px;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header-bottom .header-nav .header-nav__buy:focus, .header-bottom .header-nav .header-nav__buy:hover {
  background-color: #ffffff;
  color: #f04d12;
}

.header-catalog {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #ffffff;
  z-index: 99;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header-catalog .header-catalog__contain {
  width: 1170px;
  margin: 0 auto;
}

.header-catalog .header-catalog__contain .header-catalog__list {
  width: 262px;
  height: 0;
  overflow: hidden;
  padding: 30px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header-catalog .header-catalog__contain .header-catalog__list .header-link {
  display: block;
  margin-bottom: 20px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  color: #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header-catalog .header-catalog__contain .header-catalog__list .header-link:hover {
  color: #f04d12;
}

.header-catalog .header-catalog__contain .header-catalog__list .header-link:last-child {
  margin-bottom: 0;
}

.header-catalog.active {
  height: 300px;
}

.header-catalog.active .header-catalog__list {
  height: 300px;
}

.main-slider {
  position: relative;
}

.main-slider .main-slider__item {
  position: relative;
  display: block;
  width: 100%;
  min-height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main-slider .main-slider__item:nth-child(1) {
  background-image: url(../images/main-slider/1.jpg);
}

.main-slider .main-slider__item:nth-child(2) {
  background-image: url(../images/main-slider/2.jpg);
}

.main-slider .main-slider__item:nth-child(3) {
  background-image: url(../images/main-slider/3.jpg);
}

.main-slider .main-slider__item:nth-child(4) {
  background-image: url(../images/main-slider/4.jpg);
}

.main-slider .main-slider__item:nth-child(5) {
  background-image: url(../images/main-slider/5.jpg);
}

.main-slider .main-slider__item:nth-child(6) {
  background-image: url(../images/main-slider/6.jpg);
}

.main-slider .main-slider__item:nth-child(7) {
  background-image: url(../images/main-slider/7.jpg);
}

.main-slider .main-slider__item:nth-child(8) {
  background-image: url(../images/main-slider/8.jpg);
}

.main-slider .swiper-button-next {
  right: 3.03em;
}

.main-slider .swiper-button-prev {
  left: 3.03em;
}

.main-slider .swiper-button-next::after,
.main-slider .swiper-button-prev::after {
  color: #ffffff;
  font-weight: bold;
}

.main-slider .main-slider__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 800px;
}

.main-slider .main-slider__content .box {
  position: relative;
}

.main-slider .main-slider__content .box .box-content {
  position: relative;
  padding: 20px 30px;
  background-color: rgba(240, 77, 16, 0.7);
  z-index: 2;
}

.main-slider .main-slider__content .box .box-content .box-title {
  text-transform: uppercase;
  font-weight: 900;
  color: #ffffff;
  font-size: 50px;
  margin: 0;
}

.main-slider .main-slider__content .box .box-content .box-text {
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
}

.main-slider .main-slider__content .box .box-before {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.main-slider .main-slider__content .box .box-before::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 180px;
  height: 220px;
  border: 12px solid rgba(255, 255, 255, 0.7);
  -webkit-transform: translate(-20%, -50%);
          transform: translate(-20%, -50%);
}

.catalog-wrapper {
  position: relative;
  width: 100%;
  background-color: #f9f9f9;
}

.catalog-wrapper .catalog-title {
  position: relative;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  z-index: 3;
}

.catalog-wrapper .catalog-title .catalog-title__block {
  position: relative;
  display: inline-block;
}

.catalog-wrapper .catalog-title .catalog-title__block .catalog-title__before {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.catalog-wrapper .catalog-title .catalog-title__block .catalog-title__before::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 180px;
  height: 160px;
  border: 12px solid #f04d12;
  -webkit-transform: translate(-30%, -50%);
          transform: translate(-30%, -50%);
  z-index: 1;
}

.catalog-wrapper .catalog-title .catalog-title__block .catalog-title__text {
  position: relative;
  text-align: center;
  display: inline-block;
  font-weight: 900;
  color: #6d6d6d;
  font-size: 60px;
  padding: 20px 30px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.26);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.26);
  z-index: 2;
  margin: 0;
}

.catalog-wrapper .catalog-title .catalog-title__block .catalog-title__text span {
  color: #f04d12;
  text-transform: uppercase;
}

.catalog-wrapper .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1420px;
  margin: 0 auto;
  padding: 40px 0 100px 0;
}

.catalog-wrapper .content .content-first {
  width: 375px;
}

.catalog-wrapper .content .content-first .content-title {
  position: relative;
  padding: 0 0 0 20px;
  margin: 0;
}

.catalog-wrapper .content .content-first .content-title .content-title__before {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.catalog-wrapper .content .content-first .content-title .content-title__before:before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 80px;
  height: 80px;
  border: 8px solid #f04d12;
  -webkit-transform: translate(-10%, -50%);
          transform: translate(-10%, -50%);
  z-index: 1;
}

.catalog-wrapper .content .content-first .content-title .content-title__text {
  position: relative;
  font-size: 36px;
  font-weight: 900;
  color: #6d6d6d;
  background-color: #f9f9f9;
  z-index: 2;
}

.catalog-wrapper .content .content-first .content-first__text {
  color: #6d6d6d;
  line-height: 1.6;
  font-weight: 400;
  padding-top: 20px;
}

.catalog-wrapper .content .content-slider {
  width: 1010px;
}

.catalog-wrapper .content .content-slider .catalog-slider__item {
  position: relative;
  padding: 20px;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 330px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.catalog-wrapper .content .content-slider .catalog-slider__item:hover .catalog-slider__img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.catalog-wrapper .content .content-slider .catalog-slider__item .catalog-slider__btn {
  display: block;
  width: 100%;
  color: #ffffff;
  background-color: #6d6d6d;
  text-align: center;
  text-decoration: none;
  padding: 10px 0;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.catalog-wrapper .content .content-slider .catalog-slider__item .catalog-slider__btn:hover {
  background-color: #f04d12;
}

.catalog-wrapper .content .content-slider .catalog-slider__title {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: #6d6d6d;
}

.catalog-wrapper .content .content-slider .catalog-slider__img {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 200px;
  max-height: 200px;
  margin: 0 auto;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.catalog-wrapper .content .content-slider .catalog-slider__img img {
  display: block;
  width: 100%;
}

.benefits-wrapper {
  position: relative;
}

.benefits-wrapper .benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0 120px 0;
}

.benefits-wrapper .benefits .benefits-first {
  position: relative;
  width: 550px;
}

.benefits-wrapper .benefits .benefits-first .benefits-first__title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
}

.benefits-wrapper .benefits .benefits-first .benefits-first__title .number {
  font-size: 300px;
  margin: 0;
  line-height: 1;
  font-weight: 700;
  color: #fa5f2e;
  padding-right: 40px;
}

.benefits-wrapper .benefits .benefits-first .benefits-first__title .text {
  position: relative;
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
  color: #6d6d6d;
  background-color: #ffffff;
  z-index: 2;
}

.benefits-wrapper .benefits .benefits-first .benefits-first__title .before {
  position: absolute;
  right: 60px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.benefits-wrapper .benefits .benefits-first .benefits-first__title .before:before {
  position: absolute;
  right: 0;
  top: 0;
  content: "";
  width: 140px;
  height: 120px;
  border: 8px solid #fa5f2e;
  -webkit-transform: translate(-20%, -50%);
          transform: translate(-20%, -50%);
  z-index: 1;
}

.benefits-wrapper .benefits .benefits-first .benefits-first__img {
  z-index: 2;
  position: absolute;
  width: 100%;
  left: -120px;
  top: 180px;
}

.benefits-wrapper .benefits .benefits-first .benefits-first__img img {
  display: block;
  width: 100%;
}

.benefits-wrapper .benefits .benefits-second {
  padding-top: 120px;
  width: 570px;
}

.benefits-wrapper .benefits .benefits-second .benefits-list {
  padding-left: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.benefits-wrapper .benefits .benefits-second .benefits-list__item {
  width: 30%;
  margin-bottom: 40px;
  text-align: center;
}

.benefits-wrapper .benefits .benefits-second .benefits-list__item img {
  display: inline-block;
  text-align: center;
}

.benefits-wrapper .benefits .benefits-second .benefits-list__item .benefits-list__title {
  font-size: 14px;
  text-align: center;
  color: #6d6d6d;
}

.benefits-wrapper .benefits-blur-icon-second,
.benefits-wrapper .benefits-blur-icon-first {
  position: absolute;
  left: 10%;
  top: 20%;
  width: 80px;
  height: 80px;
  background-color: #f04d12;
  -webkit-filter: blur(45px);
          filter: blur(45px);
  border-radius: 100%;
}

.benefits-wrapper .benefits-blur-icon-second {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
}

.information-wrapper {
  position: relative;
  background-color: #f9f9f9;
  padding: 100px 0 140px 0;
  overflow: hidden;
}

.information-wrapper .information-title {
  text-align: center;
}

.information-wrapper .information-title .information-title__block {
  position: relative;
  text-align: center;
  display: inline-block;
}

.information-wrapper .information-title .information-title__block .text {
  position: relative;
  color: #6d6d6d;
  font-size: 40px;
  background-color: #f9f9f9;
  z-index: 2;
}

.information-wrapper .information-title .information-title__block .before {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.information-wrapper .information-title .information-title__block .before::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 80px;
  height: 80px;
  border: 8px solid #f04d12;
  -webkit-transform: translate(-30%, -50%);
          transform: translate(-30%, -50%);
  z-index: 1;
}

.information-wrapper .information-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 40px 0 0 0;
  list-style-type: none;
}

.information-wrapper .information-list .item-link {
  display: block;
  text-decoration: none;
}

.information-wrapper .information-list .item {
  width: 32%;
  background-color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.information-wrapper .information-list .item .item-img {
  display: block;
}

.information-wrapper .information-list .item .item-img img {
  display: block;
  width: 100%;
}

.information-wrapper .information-list .item .item-title {
  padding: 20px;
  margin: 0;
  font-weight: 600;
  color: #6d6d6d;
  font-size: 18px;
}

.information-wrapper .information-list .item:hover {
  -webkit-box-shadow: 0px 15px 55px rgba(0, 0, 0, 0.26);
          box-shadow: 0px 15px 55px rgba(0, 0, 0, 0.26);
}

.information-wrapper .information-blur-icon-second,
.information-wrapper .information-blur-icon-first {
  position: absolute;
  left: 5%;
  top: 30%;
  width: 80px;
  height: 80px;
  background-color: #f04d12;
  -webkit-filter: blur(45px);
          filter: blur(45px);
  border-radius: 100%;
}

.information-wrapper .information-blur-icon-second {
  left: 90%;
  top: 95%;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
}

.footer {
  padding-top: 100px;
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 40px;
}

.footer-top .footer-top__item {
  width: 33%;
  border-right: 1px solid #cacaca;
}

.footer-top .footer-top__item:last-child {
  border-right: 1px solid transparent;
}

.footer-top .footer-logo {
  margin-bottom: 20px;
}

.footer-top .footer-contact {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.footer-top .footer-contact .footer-contact__item {
  position: relative;
  margin-bottom: 30px;
  color: #6d6d6d;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  padding-left: 50px;
}

.footer-top .footer-contact .footer-contact__item .e-nexus__make {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 34px;
  height: 34px;
  background-color: #f04d12;
  border-radius: 50%;
}

.footer-top .footer-contact .footer-contact__item .e-nexus__make svg {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.footer-top .footer-social {
  padding-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.footer-top .footer-social .footer-social__item {
  display: block;
  width: 25px;
  height: 25px;
  font-size: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-right: 4px;
}

.footer-top .footer-social .footer-social__item:last-child {
  margin-right: 0;
}

.footer-top .footer-social .footer-social__item.facebook {
  background-image: url(../images/fb.svg);
}

.footer-top .footer-social .footer-social__item.instagram {
  background-image: url(../images/in.svg);
}

.footer-top .footer-social .footer-social__item.youTube {
  background-image: url(../images/yu.svg);
}

.footer-top .footer-listLink {
  list-style-type: none;
  padding: 0 0 0 60px;
}

.footer-top .footer-listLink .footer-listLink__item {
  margin-bottom: 10px;
}

.footer-top .footer-listLink .footer-listLink__item a {
  font-size: 14px;
  text-decoration: none;
  font-weight: 500;
  color: #6d6d6d;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer-top .footer-listLink .footer-listLink__item a:hover {
  color: #f04d12;
}

.footer-bootom {
  width: 100%;
  padding: 40px 0;
  border-top: 1px solid #cacaca;
}

.footer-bootom .footer-bootom-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-bootom .footer-bootom-link a {
  font-size: 14px;
  text-decoration: none;
  color: #6d6d6d;
  font-weight: 400;
}

.footer-bootom .footer-bootom-link a:hover {
  text-decoration: underline;
  color: #f04d12;
}

.modal-wrapper {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
}

.modal-wrapper .modal-close {
  position: absolute;
  right: 30px;
  top: 0;
  font-size: 20px;
  padding: 20px 18px 24px 18px;
  line-height: 0;
  background-color: #f04d12;
  color: #ffffff;
  cursor: pointer;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.modal-wrapper .modal {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 300px;
  padding: 40px 30px 30px 30px;
  background-color: #ffffff;
}

.modal-wrapper .modal .modal-form .modal-form__title {
  margin: 0;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.modal-wrapper .modal .modal-form .input {
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 14px 10px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  outline: none;
  border-bottom: 1px solid #999999;
  font-family: 'Gilroy';
  font-size: 16px;
}

.modal-wrapper .modal .modal-form .input::-webkit-input-placeholder {
  text-transform: uppercase;
}

.modal-wrapper .modal .modal-form .input:-ms-input-placeholder {
  text-transform: uppercase;
}

.modal-wrapper .modal .modal-form .input::-ms-input-placeholder {
  text-transform: uppercase;
}

.modal-wrapper .modal .modal-form .input::placeholder {
  text-transform: uppercase;
}

.modal-wrapper .modal .modal-form .modal-form__submit {
  display: block;
  width: 160px;
  padding: 10px 0;
  margin: 0 auto;
  color: #ffffff;
  cursor: pointer;
  margin-top: 20px;
  border: 1px solid transparent;
  background-color: #f04d12;
}

.catalog-page__wpapper {
  width: 100%;
  padding: 60px 0;
  background-color: #f9f9f9;
}

.catalog-page__wpapper .catalog-page__title {
  position: relative;
  display: inline-block;
  margin-bottom: 80px;
}

.catalog-page__wpapper .catalog-page__title .catalog-page-title__before {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.catalog-page__wpapper .catalog-page__title .catalog-page-title__before::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  -webkit-transform: translate(-30%, -50%);
          transform: translate(-30%, -50%);
  width: 80px;
  height: 80px;
  border: 6px solid #f04d12;
  z-index: 1;
}

.catalog-page__wpapper .catalog-page__title .catalog-page-title__title {
  position: relative;
  color: #6d6d6d;
  font-weight: 900;
  font-size: 40px;
  background-color: #f9f9f9;
  z-index: 2;
}

.catalog-page__wpapper .catalog-page__contetn .list-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin-bottom: 80px;
}

.catalog-page__wpapper .catalog-page__contetn .list-content .list-content__item {
  position: relative;
  width: 31%;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 15px 55px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 15px 55px rgba(0, 0, 0, 0.16);
  margin-bottom: 60px;
}

.catalog-page__wpapper .catalog-page__contetn .list-content .list-content__item .list-content__img {
  position: relative;
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
}

.catalog-page__wpapper .catalog-page__contetn .list-content .list-content__item .list-content__img img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 250px;
}

.catalog-page__wpapper .catalog-page__contetn .list-content .list-content__item .list-content__title {
  text-align: center;
  text-transform: uppercase;
  color: #6d6d6d;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.catalog-page__wpapper .catalog-page__contetn .list-content .list-content__item .list-content__desk {
  color: #6d6d6d;
  font-weight: 400px;
  font-size: 14px;
  padding: 0 25px;
  line-height: 1.4;
  margin-bottom: 40px;
}

.catalog-page__wpapper .catalog-page__contetn .list-content .list-content__item .list-content__btn {
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #f04d12;
  color: #ffffff;
  border: 1px solid transparent;
  padding: 14px 50px;
  border-radius: 40px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  cursor: pointer;
}

.catalog-page__wpapper .catalog-page__contetn .content {
  margin-bottom: 20px;
}

.catalog-page__wpapper .catalog-page__contetn .content .content-title {
  font-weight: 700;
  font-size: 26px;
  color: #444a52;
}

.catalog-page__wpapper .catalog-page__contetn .content .content-text {
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
  margin: 0;
  margin-bottom: 20px;
}

.catalog-page__wpapper .catalog-page__contetn .content .content-img {
  display: block;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.catalog-page__deck p {
  font-size: 16px;
  font-weight: 500;
  color: #6d6d6d;
  line-height: 1.6;
}

.catalog-page__deck p span {
  font-weight: 700;
}

.video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

.video .video-item__active {
  position: relative;
}

.video .video-item__active .video-item__overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.video .video-item__active .video-item__overlay::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #f04d12;
  background-image: url(../images/video/video.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.video .video-item__active:hover .video-item__overlay {
  opacity: 1;
  cursor: pointer;
}

.video .video-item {
  position: relative;
  width: 31%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 10px;
}

.video .video-item img {
  display: block;
  width: 100%;
}

.js-video-overlay-modal {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
}

.js-video-overlay-modal .js-video-overlay-modal__video {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 700px;
  height: 400px;
}

.js-video-overlay-modal .js-video-overlay-modal__close {
  color: #ffffff;
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(30, 30, 30, 0.6);
  padding: 10px 20px;
  font-weight: 300;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.js-video-overlay-modal .js-video-overlay-modal__close:hover {
  background-color: #f04d12;
}

.galereya-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
}

.galereya-list .galereya-list__item {
  position: relative;
  width: 29%;
  -webkit-box-shadow: 0px 15px 55px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 15px 55px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  margin: 20px 20px 80px 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.galereya-list .galereya-list__item:hover {
  -webkit-box-shadow: 0px 15px 55px rgba(0, 0, 0, 0.26);
          box-shadow: 0px 15px 55px rgba(0, 0, 0, 0.26);
}

.galereya-list .galereya-list__item img {
  display: block;
  width: 100%;
  min-height: 220px;
  max-height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 20px;
}

.galereya-list .galereya-list__item .galereya-list__text {
  position: relative;
  padding: 0 20px 20px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.galereya-list .galereya-list__item .galereya-list__text h2 {
  font-size: 18px;
  font-weight: 600;
  min-height: 60px;
  color: #6d6d6d;
}

.galereya-list .galereya-list__item .galereya-list__text p {
  color: #6d6d6d;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
}

.galereya-list .galereya-list__item .galereya-list__btn {
  position: absolute;
  left: 50%;
  top: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 140px;
  background-color: #f04d12;
  padding: 10px 0;
  border: 1px solid transparent;
  outline: none;
  color: #ffffff;
  border-radius: 40px;
  cursor: pointer;
}

@media (max-width: 1460px) {
  .catalog-wrapper .content {
    width: 1170px;
  }
  .catalog-wrapper .content .content-slider {
    width: 740px;
  }
}

@media (max-width: 1170px) {
  .container {
    width: 968px;
  }
  .main-slider .main-slider__item,
  .main-slider .main-slider__content {
    min-height: 600px;
  }
  .catalog-wrapper .content {
    width: 968px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .catalog-wrapper .content .content-slider {
    width: 100%;
  }
  .header-catalog .header-catalog__contain {
    width: 968px;
  }
}

@media (max-width: 990px) {
  .container {
    width: 720px;
  }
  .header-catalog .header-catalog__contain {
    width: 720px;
  }
  .header-top .header-number {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-top .header-number .header-number__item {
    margin-right: 0;
  }
  .main-slider .main-slider__content .box .box-content .box-title {
    font-size: 24px;
  }
  .main-slider .main-slider__item {
    min-height: 500px;
  }
  .main-slider .main-slider__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 500px;
  }
  .catalog-wrapper .catalog-title .catalog-title__block .catalog-title__text {
    font-size: 40px;
  }
  .catalog-wrapper .catalog-title .catalog-title__block .catalog-title__before::before {
    width: 140px;
    height: 140px;
    border: 8px solid #f04d12;
  }
  .catalog-wrapper .content {
    width: 720px;
  }
  .catalog-wrapper .content .content-first {
    width: 100%;
  }
  .catalog-wrapper .content .content-first .content-title .content-title__text {
    font-size: 30px;
  }
  .catalog-wrapper .content .content-first .content-title .content-title__before:before {
    border: 6px solid #f04d12;
    width: 60px;
    height: 60px;
  }
  .benefits-wrapper .benefits {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .benefits-wrapper .benefits .benefits-first {
    margin: 0 auto;
  }
  .benefits-wrapper .benefits .benefits-first .benefits-first__img {
    width: 50%;
    left: 50%;
    top: 120px;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .benefits-wrapper .benefits .benefits-first .benefits-first__title .number {
    font-size: 200px;
  }
  .benefits-wrapper .benefits .benefits-first .benefits-first__title .before {
    right: 180px;
  }
  .benefits-wrapper .benefits .benefits-first .benefits-first__title .before:before {
    width: 90px;
    height: 100px;
  }
  .benefits-wrapper .benefits .benefits-first .benefits-first__title .before:before {
    border: 6px solid #fa5f2e;
  }
  .benefits-wrapper .benefits .benefits-second {
    width: 100%;
  }
  .information-wrapper .information-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .information-wrapper .information-list .item {
    width: 100%;
    margin-bottom: 40px;
  }
  .footer-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-top .footer-top__item {
    width: 100%;
    border-right: 1px solid transparent;
  }
  .footer-top .footer-listLink {
    padding: 0;
  }
  .footer-top .footer-social {
    padding-left: 0;
  }
  .footer-bootom .footer-bootom-link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-bootom .footer-bootom-link a {
    margin-bottom: 20px;
  }
  .catalog-page__wpapper .catalog-page__title .catalog-page-title__title {
    font-size: 30px;
  }
  .catalog-page__wpapper .catalog-page__title .catalog-page-title__before::before {
    left: 10px;
  }
  .catalog-page__wpapper .catalog-page__contetn .list-content .list-content__item {
    width: 48%;
  }
  .video .video-item {
    width: 46%;
  }
  .galereya-list .galereya-list__item {
    width: 44%;
  }
}

@media (max-width: 760px) {
  .container {
    width: 90%;
  }
  .header-catalog .header-catalog__contain {
    width: 90%;
  }
  .header-nav {
    width: 100% !important;
    padding: 0 !important;
  }
  .header-bottom,
  .header-bottom .header-nav .header-nav__btn,
  .header-bottom .header-nav .header-nav__buy {
    height: 50px;
  }
  .header-top .header-number .header-number__icon {
    width: 30px;
    height: 30px;
  }
  .header-top .header-number .header-number__item {
    font-size: 14px;
  }
  .header-top .header-top__logo .logo img,
  .header-top .header-top__logo .logo {
    width: 140px;
  }
  .header-top .header-social {
    display: none;
  }
  .header-top .header-number {
    margin-right: 0;
    padding-left: 40px;
  }
  .header-bottom .header-nav .header-nav__btn {
    width: 200px;
  }
  .header-bottom .header-nav .header-nav__btn {
    width: 200px;
    padding: 0 40px 0 50px;
    font-size: 12px;
  }
  .header-bottom .header-nav .header-nav__btn .header-nav__btn-icon {
    left: 15px;
  }
  .header-bottom .header-nav .header-nav__btn:focus,
  .header-bottom .header-nav .header-nav__btn:hover {
    padding: 0 40px 0 50px;
  }
  .header-bottom .header-nav .header-nav__buy {
    font-size: 12px;
  }
  .main-slider .main-slider__item {
    min-height: 280px;
  }
  .main-slider .main-slider__content {
    min-height: 280px;
  }
  .main-slider .main-slider__content .box .box-content {
    padding: 18px;
  }
  .catalog-wrapper .catalog-title .catalog-title__block .catalog-title__text {
    font-size: 24px;
  }
  .catalog-wrapper .catalog-title .catalog-title__block .catalog-title__before::before {
    width: 90px;
    height: 90px;
    border: 6px solid #f04d12;
  }
  .main-slider .main-slider__content .box .box-content .box-title {
    font-size: 20px;
  }
  .main-slider .main-slider__content .box .box-content .box-text {
    font-size: 14px;
  }
  .main-slider .main-slider__content .box .box-before::before {
    display: none;
  }
  .main-slider .swiper-button-prev {
    left: 10px;
  }
  .main-slider .swiper-button-next {
    right: 10px;
  }
  .catalog-wrapper .content {
    width: 90%;
  }
  .benefits-wrapper .benefits {
    padding: 40px 0 40px 0;
  }
  .benefits-wrapper .benefits .benefits-first {
    width: 100%;
  }
  .benefits-wrapper .benefits .benefits-first .benefits-first__title .text {
    font-size: 30px;
  }
  .benefits-wrapper .benefits .benefits-first .benefits-first__title .before {
    right: 10px;
  }
  .benefits-wrapper .benefits .benefits-first .benefits-first__title .text {
    padding: 4px 0;
  }
  .benefits-wrapper .benefits .benefits-second .benefits-list__item {
    width: 50%;
  }
  .information-wrapper {
    padding: 60px 0 40px 0;
  }
  .information-wrapper .information-title .information-title__block .text {
    font-size: 30px;
  }
  .information-wrapper .information-title .information-title__block .before::before {
    border: 6px solid #f04d12;
  }
  .modal-wrapper .modal-close {
    right: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .catalog-page__wpapper .catalog-page__contetn .list-content .list-content__item {
    width: 100%;
  }
  .catalog-page__wpapper .catalog-page__contetn .content .content-img {
    width: 100%;
  }
  .catalog-page__wpapper .catalog-page__title .catalog-page-title__title {
    font-size: 24px;
    padding: 4px 0;
  }
  .catalog-page__wpapper .catalog-page__title .catalog-page-title__before {
    left: 5px;
  }
  .video .video-item {
    width: 100%;
  }
  .js-video-overlay-modal .js-video-overlay-modal__video {
    width: 90%;
    height: 240px;
  }
  .galereya-list .galereya-list__item {
    width: 100%;
    margin: 0 0 60px 0;
  }
}

@media (max-width: 400px) {
  .catalog-wrapper .catalog-title .catalog-title__block .catalog-title__before::before {
    left: 10px;
  }
}
/*# sourceMappingURL=main.css.map */