.modal-wrapper {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0, 0.8);
    z-index: 100;

    .modal-close {
        position: absolute;
        right: 30px;
        top: 0;
        font-size: 20px;
        padding: 20px 18px 24px 18px;
        line-height: 0;
        background-color: #f04d12;
        color: #ffffff;
        cursor: pointer;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .modal {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 300px;
        padding: 40px 30px 30px 30px;
        background-color: #ffffff;

        .modal-form {
            .modal-form__title {
                margin: 0;
                text-align: center;
                font-size: 20px;
                font-weight: 400;
                text-transform: uppercase;
                margin-bottom: 20px;
            }
            .input {
                position: relative;
                width: 100%;
                box-sizing: border-box;
                padding: 14px 10px;
                margin-bottom: 20px;
                border: 1px solid transparent;
                outline: none;
                border-bottom: 1px solid #999999;
                font-family: 'Gilroy';
                font-size: 16px;

                &::placeholder {
                    text-transform: uppercase;
                }
            }
            .modal-form__submit {
                display: block;
                width: 160px;
                padding: 10px 0;
                margin: 0 auto;
                color: #ffffff;
                cursor: pointer;
                margin-top: 20px;
                border: 1px solid transparent;
                background-color: #f04d12;
            }
        }
    }
}